/* Slides Css */

#slider,
#slider2 {
    height: 360px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
    font-family: kanit-r;
    color: var(--color-texts);
}

#slider2 a {
    margin: 0;
}

.container-slider {
    width: 1600px;
    margin: auto;
}

.subcontainer-slider {
    width: 85%;
    margin: auto;
}

.controller {
    display: flex;
    justify-content: space-between;
}

#controls i,
#controls2 i {
    color: var(--color-buttons);
    font-size: 1rem;
}

.voltar,
.avancar,
.voltar2,
.avancar2 {
    padding: 2px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    outline: none;
    transition: 0.7s ease-in-out;
    border: none;
    background-color: transparent;
}

.slide-img {
    width: 200px;
    height: 250px;
    border: 2px solid #bbb;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 20px;
    transition: 0.5s;
}

.slide-img:hover {
    box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.9) inset;
}

.slide-img a {
    text-decoration: none;
    transform: scale(0);
    transition: 0.8s;
    font-size: 1.5rem;
    color: white;
    opacity: 0;
}

.slide-img:hover a {
    opacity: 1;
    transform: scale(1);
}

/* .img-1 {
    background-image: url('../img/slider/slide1.jpg');
}

.img-2 {
    background-image: url('../img/slider/slide2.jpg');
}

.img-3 {
    background-image: url('../img/slider/slide3.jpg');
}

.img-4 {
    background-image: url('../img/slider/slide4.jpg');
}

.img-5 {
    background-image: url('../img/slider/slide5.jpg');
}

.img-6 {
    background-image: url('../img/slider/slide6.jpg');
}

.img-7 {
    background-image: url('../img/slider/slide7.jpg');
}

.img-8 {
    background-image: url('../img/slider/slide8.jpg');
}

.img-9 {
    background-image: url('../img/slider/slide9.jpg');
}

.img-10 {
    background-image: url('../img/slider/slide10.jpg');
} */

@media(max-width:1440px) {
    .container-slider {
        width: 100%;
    }
}

.slide,
.slide2 {
    display: flex;
    justify-content: center;
}

/* @media (min-width:350px) {
    @media (max-width:539px) {}
} */

/* Slides Css */