:root {
    --caixa-disp: none;
    --tamanho-caixa: 0;
    --color-search: white;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(0, 0, 0, 0.9);
    /* background: url(../img/bg.jpg) fixed center center;
	background-size: cover;
	overflow: hidden; */
}

.link {
	text-decoration: none;
	color: lightblue;
	font-size: 15px;
	margin-left: 40px;
	font-family: ubuntu-r;
	transition: all 0.2s ease-in-out;
}

.link:hover {
	margin-left: 45px;
	color: purple;
	font-size: 17px;
}

.link:focus {
	color: rgb(185, 64, 215);
}

.link:visited {
	color:crimson;
}

/*body:not(#home) .link {
	font-family:ubuntu-r;
}*/

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background-color: #00000025;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(64, 64, 64);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(44, 44, 44);
}

/* Custom Fonts */

@font-face {
    font-family: 'opensans-r';
    src: url('../fonts/OpenSans/OpenSans-Src.woff2') format('woff2');
    /* src: url('fonts/OpenSans/OpenSans-Regular.ttf'); */
    font-weight: normal;
    font-style: normal;
    font-stretch: 100%;
    letter-spacing: 4px;
}

@font-face {
    font-family: 'opensans-b';
    src: url('../fonts/OpenSans/OpenSans-Src.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-stretch: 100%;
    letter-spacing: 4px;
}

@font-face {
    font-family: 'ubuntu-r';
    src: url('../fonts/Ubuntu/Ubuntu-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kanit-r';
    src: url('../fonts/Kanit/Kanit-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

/* Custom Fonts */

.footer {
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
    font-family: "opensans-r";
    padding-top: 40px;
    background: #23232e;
    color: #fff;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.footer-bottom {
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .5;
    font-weight: 200;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #fff;
}

.socials a i {
    font-size: 1.1rem;
    transition: color .4s ease;
}

.socials a:hover i.fa-linkedin-square {
    color: rgb(78, 125, 194);
}

.socials a:hover i.fa-facebook {
    color: rgb(110, 110, 255);
}

.socials a:hover i.fa-instagram {
    color: rgb(176, 85, 199);
}

.socials a:hover i.fa-twitter {
    color: rgb(79, 238, 238);
}

.socials a:hover i.fa-github {
    color: rgb(145, 68, 218);
}

.scrollingArea {
    height: 100%;
    width: 100%;
    overflow: auto;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.back-to-top {
    position: fixed;
    width: 40px;
    height: 40px;
    background: #000;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    line-height: 40px;
    text-align: center;
    color: white;
    font-size: 20px;
    opacity: 0.6;
    background-color: grey;
}

.back-to-top:hover {
    color: white;
}

h1.animeTitle {
    padding: 10px 10px;
    font-family: kanit-r;
    font-weight: normal;
}

/*NAVBAR OLD

.navigation-bar {
    width: 100%;
    height: 80px;
    background-color: purple;
	text-align:center;
	font-family:kanit-r;
}
.logo {
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    margin-top: 15px;
	float:left;
	margin-left: 10px;
}
.navigation-bar > a {
    display: inline-block;
    vertical-align: top;
    margin: 0px 10px;
    height: 80px;
    line-height: 80px;
	text-decoration:none;
	color:orchid;
	transition:all 0.3s ease-in-out;
}
.navigation-bar > a:hover {
	color:white;
}

NAVBAR OLD*/

.searchDiv {
    width: 300px;
    height: 38px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.icone {
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
}

.botao {
    transition: all 0.3s ease-in-out;
    border: 1px solid var(--color-search);
    border-radius: 10px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: transparent;
    width: 38px;
    height: 38px;
}

.fa-search {
    transition: all 0.3s ease-in-out;
    color: var(--color-search);
}

.barra {
    width: 0;
    height: 100%;
    transition: all 0.3s ease-in-out;
}

.barra:focus-within {
    padding-left: 5px;
    width: 100%
}

.caixa-texto {
    width: 0;
    display: var(--caixa-disp);
    opacity: 0;
    height: 100%;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    transition: all 0.3s ease-in-out;
}

.caixa-texto::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 1em;
    width: 1em;
    border-radius: 50em;
    background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%;
    background-size: contain;
    opacity: .3;
    pointer-events: all;
}

.caixa-texto:focus {
    width: var(--tamanho-caixa);
    display: var(--caixa-disp);
    opacity: 1;
}

.caixa-texto:not(:focus) {
    --close: 0;
}

.carousel-indicators {
	margin-bottom:1%;
}

.carousel-indicators button {
	border-radius: 100%;
	background-color: rgba(255, 255, 255, 0) !important;
	outline: 1px solid white;
	border: 2px solid transparent !important;
	width: 6px !important;
	height: 6px !important;
	transition: all 0.3s ease-in-out;
}

.carousel-indicators button.active {
	background-color: white !important;
}

#carouselExampleIndicators {
	width: 70%;
	margin: 90px 15% 20px 15%;
	border: 2px solid rgb(33, 37, 41);
}

/* Custom Media Queries */

@media (max-width: 991px) {
    #carouselExampleIndicators {
	margin: 90px 7.5% 20px 7.5%;
	width:85%;
        margin-top: 160px !important;
    }
	.carousel-indicators button {
		width:5px !important;
		height:5px !important;
	}
}

@media (max-width: 335px) {
    #carouselExampleIndicators {
	margin: 90px 5% 20px 5%;
        margin-top: 220px !important;
	width: 90%;
    }
	.carousel-indicators button {
		width:4px !important;
		height:4px !important;
	}
}

@media (max-width: 233px) {
    #carouselExampleIndicators {
	margin: 90px 2.5% 20px 2.5%;
        margin-top: 240px !important;
	width: 95%;
    }
	.carousel-indicators button {
		width:3px !important;
		height:3px !important;
	}
}

/* Custom Media Queries */

.nav-link {
	cursor:pointer;
}